# Python Virtual Environment & Cache
Lib/
Scripts/
Include/
venv/
pyvenv.cfg
__pycache__/
*.pyc

# Executable files
*.exe

# VS Code editor config
.vscode/

# Generated reports and data
*.png
*.txt
*.html

# Exceptions: Do not ignore these specific files
!README.md
!requirements.txt

# OS-specific files
.DS_Store

# License files from third-party tools
LICENSE.chromedriver
THIRD_PARTY_NOTICES.chromedriver

# Weird temporary files
plt.rcParams['font.py